
@import "https://fonts.googleapis.com/css?family=Open+Sans";
* {
  box-sizing: border-box;
}
body {
  background: #181818;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.content {
  max-width: 1200px;
  margin:  30px auto;
}
input {
  color: #000;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #CFD8DC;
}
.title span {
  color: #039BE5;
}

.search {
  text-align: center;
}
.search-component {
  display: inline-block;
}

.search input {
  padding: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid transparent;
  outline: none;
  background: #283747;
  color: #5DADE2;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #90A4AE;
  font-family: 'Open Sans';
}
.search input:focus {
  border: 1px solid #3498DB;
}

.search .search-list li {
  padding: 10px 8px;
  background: #283747;
  color: #ABB2B9;
  cursor: pointer;
  transition: background .2s ease, color .2s ease;
}
.search .search-list li:hover {
  background: #212F3C;
  color: #D6DBDF;
}

::-webkit-input-placeholder {
  color:#85C1E9;
}
::-moz-placeholder {
  color:#85C1E9;
}
